{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %} 
{% block title %}Add Book{% endblock %}
{% block content %}
    <div class="page-header">
        <h2>Library
            <small>Add new book</small>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Add book!" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_edition_date").datepicker();
        });
    </script>
{% endblock %}