{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block headerrr %}  
    <h2>Library</h2>
{% endblock %}

{% block content %}
	<div class="col-lg-10">
		<h3> Welcome to the Library </h3>
		<br>
		<h4>
			The College Library is a magnificent and a very popular place for students to work.
		</h4>
		<br>
		<h4>
			The Library has been an important part of College life since the foundation in 1987 and it continues to support the 	academic study of College members today. The modern collection is superbly stocked and it is kept up to date with 	regular purchases. We aim to support undergraduate-level study in all the principal subjects studied by Univeristy of 	Science and Technology undergraduates. Postgraduates may find some books suitable for their research or taught courses 	in the College Library but normally it is expected that those needing access to more specialised books will use the 	main University libraries. 
		</h4>
		<br>
		<h4>
			The Library serves as a beautiful and peaceful backdrop to inspire your studies.
 		</h4>
 		<br><br>
 		<h4>
			Opening Hours:
			<br>
			Monday - Friday 9:00 - 17:00
    	</h4>
    </div>

{% endblock %}