{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %} 
{% block title %}Add Book{% endblock %}

{% block headerrr %}  
    <h2>Update book</h2>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block content %}
    <div class="page-header">

    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Update!" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_edition_date").datepicker();
        });
    </script>
    {% endblock %}